#framed_boxes
  %frameset{:rows=>'50px,*',:frameborder=>'0'}
    .title_bar
      %frame{:src=>'/form/'+params[:url],:border=>'0',:marginwidth=>'1',:marginheight=>'1',:scrolling=>'none'}
    .web_page
      %frame{:src=>'/get_page/'+params[:url],:border=>'0',:marginwidth=>'1',:marginheight=>'1',:scrolling=>'auto'}
