%link{:rel=>'stylesheet',:type=>'text/css',:href=>'/proxy.css'}
%script{:src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
%script{:src=>'/swprox.js'}
#swp_form
  = haml :url_form
#swp_clear
#swp_website
  = @site
