#swp_sidebar
  %a#swp_sidebarTab{:href=>'#'}
    %img{:src=>'/images/slide-button.png',:alt=>'Side Bar',:title=>'Side Bar'}
  #swp_sidebarContents
    <!--{:style=>'width:0px;'}-->
    = haml :url_form
