#url_form
  %form{:method=>'GET',:action=>'/proxy'}
    %label{:for=>'url'} URL:
    %input{:type=>'text',:name=>'url',:id=>'url',:value=>(defined?(params[:url]) ? params[:url] : '')}
    %input{:type=>'submit',:value=>'Go!'}
