#url_form
  %form{:method=>'POST',:action=>'/proxy'}
    %label{:for=>'url'} URL:
    %input{:type=>'text',:name=>'url',:id=>'url',:value=>(defined?(params[:splat][0]) ? params[:splat][0] : 'butts')}
    %input{:type=>'submit',:value=>'Go!'}
