#url_form
  %form{:method=>'POST',:action=>'/proxy'}
    %label{:for=>'url'} URL:
    %input{:type=>'text',:name=>'url',:id=>'url',:value=>params[:splat][0]}
    %input{:type=>'submit',:value=>'Go!'}
